<div class="row">
	<div class="col-xs-1">
	</div>

	<div class="col-xs-10">
		<div class="mypage_wrapper">
			<div class="main-header">
	    		<h2>マイページ</h2>
	  		</div>
	  		<div class="my_page_box">
	  			<div class="user_info_box">
	  				<div class="sub-header">
	    				<h2>ユーザ情報</h2>
	  				</div>
	  				<table class="table user_info_table">
				      	<tbody>
				        	<tr>
					          	<th><p>ニックネーム</p></th>
					          	<td><p><%= current_user.nickname %></p></td>
					        </tr>
					        <tr>
					          	<th><p>氏名</p></th>
					          	<td><p><%= current_user.user_name %></p></td>
					        </tr>
					        <tr>
					          	<th><p>カナ氏名</p></th>
					          	<td><p><%= current_user.kana_name %></p></td>
					        </tr>
					        <tr>
					         	<th><p>性別</p></th>
					          	<td><p><%= current_user.gender %></p></td>
					        </tr>
					        <tr>
					         	<th><p>年代</p></th>
					          	<td><p><%= current_user.age %></p></td>
					        </tr>
					        <tr>
					         	<th><p>在住エリア</p></th>
					          	<td><p><%= "#{current_user.area.prefecture}(#{current_user.area.area_name})" %></p></td>
					        </tr>
					        <tr>
					          	<th><p>メールアドレス</p></th>
					          	<td><p><%= current_user.email %></p></td>
					        </tr>
					        <tr>
					          	<th><p>パスワード</p></th>
					          	<td><p>パスワードは表示できません</p></td>
					        </tr>
					    </tbody>
					</table>
					<div>
	  					<%= link_to "ユーザ編集", edit_user_registration_path(id: current_user.id), class: 'user_edit_btn' %>
	  				</div>
	  			</div>
	  			<div>
			    	<h2 class="sub-header">レビュー一覧</h2>
			    </div>
	  			<div class="col-xs-12 my_review_box">
			    			<div>
				    			<% @reviews.each do |review| %>
				    				<div class="col-xs-12 review_item_box">
				    					<div class="col-xs-12">
				    						<div class="col-xs-12" style="border-bottom: solid 3px  #535233;">
				    								<div class="col-xs-2">
						    							<h4>施設名</h4>
						    						</div>
						    						<div class="col-xs-6">
						    							<h4><%= review.spa.spa_name %></h4>
						    						</div>
													<div class="col-xs-2">
							    						<h4>入浴日</h4>
							    					</div>
							    					<div class="col-xs-2">
						    							<h4><%= review.bathing_date %></h4>
						    						</div>
				    						</div>
				    						<div class="col-xs-12" style="border-bottom: solid 3px  #535233; margin-bottom: 30px;">
				    							<div class="row">
				    								<div class="col-xs-2">
				    									<p>総合評価:</p>
				    								</div>
				    								<div class="col-xs-4">
				    									<%= render partial: 'spas/rating_star', locals: { rating:review.review_all_rating, star_size: 16} %>
				    									<span style="font-size: 12px; vertical-align: middle;"><%= "(#{review.review_all_rating.round(1)}点)" %></span>
				    								</div>
				    								<div class="col-xs-2">
				    									<p>お風呂の評価</p>
				    								</div>
				    								<div class="col-xs-4">
														<%= render partial: 'spas/rating_star', locals: { rating:review.review_bath_rating, star_size: 16} %>
														<span style="font-size: 12px; vertical-align: middle;"><%= "(#{review.review_all_rating.round(1)}点)" %></span>
				    								</div>
				    							</div>
				    							<div class="row">
				    								<div class="col-xs-2">
				    									<p>お食事の評価</p>
				    								</div>
				    								<div class="col-xs-4">
														<%= render partial: 'spas/rating_star', locals: { rating:review.review_meal_rating, star_size: 16} %>
														<span style="font-size: 12px; vertical-align: middle;"><%= "(#{review.review_all_rating.round(1)}点)" %></span>
				    								</div>
				    								<div class="col-xs-2">
				    									<p>その他の評価</p>
				    								</div>
				    								<div class="col-xs-4">
														<%= render partial: 'spas/rating_star', locals: { rating:review.review_other_rating, star_size: 16} %>
														<span style="font-size: 12px; vertical-align: middle;"><%= "(#{review.review_all_rating.round(1)}点)" %></span>
				    								</div>
				    							</div>
				    						</div>
				    						<div class="col-xs-12">
				    							<p>施設の感想</p>
				    						</div>
					    					<div class="review_impression_box col-xs-12" style="margin-bottom: 20px;" >
					    						<p><%= simple_format(review.spa_impression) %></p>
					    					</div>
				    						<div class="col-xs-3">
				    							<p>サービスの感想</p>
				    						</div>
				    						<div class="col-xs-9">
				    							<p>ベストサービス：<%= "#{review.service.service_name}(#{review.service.service_type})" %></p>
				    						</div>
					    					<div class="review_impression_box col-xs-12">
					    						<p><%= simple_format(review.service_impression) %></p>
					    					</div>
					    				</div>
					    				<div class="col-xs-12" style="margin-bottom: 20px;">
					    					<%= link_to "レビュー削除", review_path(id: review.id), class: 'review_delete_btn ', method: :delete, data: { confirm: '削除しますか？' } %>
					    				</div>
							        </div>
				    			<% end %>
				    		</div>
				    		<div class="col-xs-12"><%= paginate @reviews %></div>
	  		</div>
		</div>
	</div>

	<div class="col-xs-1">
	</div>

</div>

