


<div class="col-xs-1">
</div>


<div class="col-xs-10">
    <div class="main-header">
    	<h2>レビュー投稿</h2>
  	</div>
	 <div class="sub-header">
	    <h4><%= @reviewed_spa.spa_name %><h4>
	 </div>

	<% if @review.errors.any? %>
	  <div class="alert alert-warning">
	    <ul>
	      <% @review.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>

	<%= form_for @review do |f| %>
			<%= f.hidden_field :user_id, :value => @review.user_id %>
			<%= f.hidden_field :spa_id, :value =>  @review.spa_id %>
		    <table class="table">
		        <tbody>
			          <tr>
			            <th><%= f.label "入浴日" %></th>
				            <td>
								<div class='input-group date datepicker'>
									 <%= f.text_field :bathing_date,  :size=>"10", class: 'form-control' %>
									 <span class="input-group-addon">
									     <span class="fa fa-calendar"></span>
									 </span>
								</div>
							</td>
						</tr>
						<tr>
							<th><%= f.label "総合評価" %></th>
            				<td><%= f.select :review_all_rating, [["5点(大変満足)", "5".to_i], ["4点(やや満足)", "4".to_i], ["3点(普通)", "3".to_i], ["2点(やや不満足)", "2".to_i], ["1点(大変不満足)", "1".to_i]], {prompt: '選択してください'} %></td>
  						</tr>
  						<tr>
							<th><%= f.label "お風呂の評価" %></th>
            				<td><%= f.select :review_bath_rating, [["5点(大変満足)", 5], ["4点(やや満足)", 4], ["3点(普通)", 3], ["2点(やや不満足)", 2], ["1点(大変不満足)", 1]], {prompt: '選択してください'} %></td>
  						</tr>
  						 <tr>
							<th><%= f.label "お料理の評価" %></th>
            				<td><%= f.select :review_meal_rating, [["5点(大変満足)", 5], ["4点(やや満足)", 4], ["3点(普通)", 3], ["2点(やや不満足)", 2], ["1点(大変不満足)", 1]], {prompt: '選択してください'} %></td>
  						</tr>
  						<tr>
							<th><%= f.label "その他の評価" %></th>
            				<td><%= f.select :review_other_rating, [["5点(大変満足)", 5], ["4点(やや満足)", 4], ["3点(普通)", 3], ["2点(やや不満足)", 2], ["1点(大変不満足)", 1]], {prompt: '選択してください'} %></td>
  						</tr>
  						<tr>
							<th><%= f.label "施設へのコメント" %>(400文字以内)</th>
            				<td><%= f.text_area :spa_impression, autocomplete: "施設へのコメント", :size=>"90x5", :maxlength=>"400" %></td>
  						</tr>
  						<tr>
							<th><%= f.label "ベストサービス" %></th>
            				<td><%= f.collection_select :service_id, Service.where(spa_id: @reviewed_spa.id), :id, :service_name_and_service_type, {prompt: '選択してください'} %></td>
  						</tr>
  						<tr>
							<th><%= f.label "ベストサービスの理由" %>(400文字以内)</th>
            				<td><%= f.text_area :service_impression, autocomplete: "ベストサービスの理由", :size=>"90x5", :maxlength=>"400" %></td>
  						</tr>
		        </tbody>
		    </table>
		    <div class="actions">
		      <%= f.submit "レビュー投稿", class: 'confirm_btn' %>
		      <%= link_to "戻る", spa_path(@reviewed_spa.id), class: 'back_btn', style: "margin-left: 20px;"%>
		    </div>
	<% end %>
</div>


<div class="col-xs-1">
</div>





<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">









